/*adiciona fontes para o emoji funcionar*/

.emoji {
    font-family:
        "Segoe UI Emoji",
        "Apple Color Emoji",
        "Noto Color Emoji",
        "Press Start 2P", cursive,
}

/*melhora o scroll automático ao clicar em botões*/
section,
aside,
footer{
    max-width:1200px;
    margin:auto;
    scroll-margin-top: 100px;
}

/*mudando a cor do link clicavel*/
a {
    color: #27e6ff;
    text-decoration: none; /* opcional: remove o sublinhado */
}

/* azul quando passa o mouse */
a:hover {
    color: #c0f6ff; 
}

/* CSS Reset: Definição padrão pra página */
*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

/* setando a fonte do body */
body{
font-family:"Poppins","Segoe UI Emoji", "Apple Color Emoji", sans-serif;
background:#10131a;
color:white;
}

/* setando o cabeçalho */
header{
background:#181d28;
padding:20px;
position:sticky;
top:0;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
z-index:100;
}

/* sentando meu nome */
.perfil{
display:flex;
align-items:center;
gap:20px;
}

/* setando minha foto */
.perfil img{
width:90px;
height:90px;
border-radius:50%;
object-fit:cover;
border:3px solid #00bfff;
}

/* setando botões de navegação */
nav{
display:flex;
gap:20px;
}

nav a{
text-decoration:none;
color:white;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#00bfff;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:30px;

}

.hero h2{
font-size:50px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin-bottom:30px;
}

.botao{
background:#00bfff;
padding:15px 30px;
border-radius:10px;
color:white;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.botao:hover{
transform:scale(1.05);
}

section,
aside{
padding:80px 10%;
}

h2{
font-size:35px;
margin-bottom:30px;
color:#00bfff;
}

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:#181d28;
padding:25px;
border-radius:12px;
text-align:center;
transition:.3s;

height: 100px;           /* altura fixa */
display: flex;
justify-content: center;
align-items: center;
}

.card:hover{
transform:translateY(-8px);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.projetos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;
}

article{
background:#181d28;
padding:30px;
border-radius:12px;
}

aside ul{
line-height:2;
}

aside a{
color:#00bfff;
}

aside li img {
width: 20px;
height: 20px;
position: relative;
top: 2px;
}

footer{
background:#181d28;
text-align:center;
padding:50px;
}

#topo{
position:fixed;
right:30px;
bottom:30px;
border:none;
width:50px;
height:50px;
border-radius:50%;
background:#00bfff;
color:white;
font-size:22px;
cursor:pointer;
display:none;
}

@media(max-width:700px){

header{
justify-content:center;
gap:20px;
}

.hero h2{
font-size:35px;
}
}